{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "browsers": "last 1 chrome versions"
        }
      }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
